:root {
  --main-background-colour: rgb(36, 35, 35);
  --hover-title-colour: rgb(84, 136, 231);
  --main-text-colour: white;
}

/* sets background of all pages to dark greyy */
html {
  background-color: var(--main-background-colour);
}

/* for main image container + resize if resolution shrinks */
.main-container-center {
  display: flex;
  justify-content: center;
  background-color: var(--main-background-colour);
  margin-top: -1.5rem;
}

.main-container-center-watchlist {
  display: flex;
  justify-content: center;
  background-color: var(--main-background-colour);
}

/* for results in search, watchlist posters */
.poster-styling {
  display: flex;
  object-fit: cover;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  min-height: 20%;
  min-width: 20%;
  border-radius: 2%;
  border: 1px solid rgb(114, 114, 114);
}

/* container for search watchlist posters */
.poster-container {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 200px;
  max-height: 300px;
  min-height: 100px;
  min-width: 80px;
  margin: .3em;
  margin-top: 1.5rem;
  filter: drop-shadow(3px 5px 4px rgba( 0,0,0,0.3));
}

/* container overlay for search watchlist posters, includes styling for description, test, buttons */
.poster-container-overlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.25s;
  border-radius: 2%;
}

/* changes hover opacity of all content inside, includes bg, title, desc, buttons on poster  */
.poster-container-overlay:hover {
  opacity: 1;
}

/*  */
.poster-container-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

/*  */
.poster-container-overlay:hover > * {
  transform: translateY(0);
}

/* general styling for poster title */
.poster-container-title {
  display: flex;
  margin: 5%;
  color:var(--main-text-colour);
}

/* general styling for poster buttons */
.poster-button {
  display: flex;
  margin-left: 2%;
}

/* general styling for poster button containers, margins */
.poster-button-container {
  display: flex;
  justify-content: row;
  margin: 1%;
}

/* container for all search content */
.search-styling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70%;
  min-width: 425px;
}


/* for main background image container, sets min-max values */
.background-container {
  margin-top: -1.5rem;
  max-height: 39vh;
  min-width: 300px;
  min-height: 50px;
}

/* for main background image sets min-max values */
.background-image {
  object-fit: cover;
  object-position: top;
  max-height: 39vh;
  min-width: 100%;
  min-height: 300px;
}

/* for main background title */
.background-description-container {
  position: relative;
  font-size: .7rem;
  line-height: 2;
  padding-left: 1%;
  color: var(--main-text-colour);
  margin-top: -9.25rem;
  text-shadow: 1px 1px 2px rgba( 0,0,0,0.5);
  max-width: 40%;
  min-width: 310px;
  background-color: rgba( 0,0,0,0.4);
  border-top-right-radius: 3%;
}

.background-title {
  font-size: 1rem;
}

/* for main background desc */
.background-description {
  position: relative;
  font-size: .55rem;
  line-height: 2;
  padding: 0 1rem;
  margin: 0;
  color: var(--main-text-colour);
  margin-top: -6rem;
  margin-bottom: 3.47rem;
  text-shadow: 1px 1px 2px rgba( 0,0,0,0.5);
  overflow: hidden;
  max-width: 40%;
  min-width: 310px;
  background-color: rgba( 0,0,0,0.4);
}

/* for main background rating */
.background-rating {
  position: relative;
  font-size: .7rem;
  line-height: 2;
  padding: 0 1rem;
  margin: 0;
  color: var(--main-text-colour);
  margin-top: -3.48rem;
  margin-bottom: 5%;
  text-shadow: 1px 1px 2px rgba( 0,0,0,0.5);
  overflow: hidden;
  max-width: 40%;
  min-width: 310px;
  background-color: rgba( 0,0,0,0.4);
}

/* centers all text content for main background component, doesn't include backaground image */
.background-container-center {
  display: flex;
  justify-content: center;
}

/* title, desc, star rating text shadow */
.inner-shadow {
  box-shadow: 0, 0, 20px, 5px rgba( 0,0,0,0.3);
}

/* for navbar-logo + hover effect */
.navbar-logo {
  max-width: 30%;
  min-width: 200px;
  margin-top: .15rem;
  margin-bottom: .2rem;
}

/* container for all navbar elements inside */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 51%;
  width: 100%;
  background-color: rgb(28, 27, 27);
}

/* container for logo, button elements */
.navbar-container-left {
  display: flex;
  justify-content: flex-start;
  max-width: 10%;
  min-width: 120px;
  padding-right: 150px;
  margin-right: 15%;
}

/* container for search element */
.navbar-container-right {
  display: flex;
  justify-content: center;
  padding-top: .5rem;
  min-width: 50px;
  max-height: 50px;
}

/* padding for logo, button elements */
.navbar-button-padding {
  display: flex;
  padding-top: .3rem;
  margin-left: -1rem;
}

/* padding for search element */
.navbar-search-padding {
  display: flex;
  margin-top: -.25rem;
  max-width: 250px;
  padding-left: 20px;
}

.navbar-hamburger {
  display: flex;
  visibility: hidden;
}

/* STYLING FOR ALL CLASSES IN ANIME OR MOVIE SELECTION PAGE */

.selection-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 height: 100vh;
}

.selection-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  transition: 0.35s;
}

.selection-movies-poster {
  object-fit: cover;
  object-position: 50% 50%;
  min-width: 100%;
  min-height: 100vh;
}

.selection-movies-poster-overlay {
  display: flex;
  position: absolute;
  font-size: 2rem;
  color: var(--main-text-colour);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  opacity: 0;
  transition: 0.25s;
}

.selection-movies-poster-overlay:hover {
  opacity: 1;
  width: 60.5%;
}

.selection-anime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  transition: 0.35s;
}

.selection-anime-poster {
  object-fit: cover;
  object-position: 50% 50%;
  min-width: 100%;
  min-height: 100vh;
  transition: .25s;
}

.selection-anime-poster-overlay {
  display: flex;
  position: absolute;
  color: var(--main-text-colour);
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  opacity: 0;
  transition: 0.25s;
}

.selection-anime-poster-overlay:hover {
  opacity: 1;
  width: 100%;
}

/* STYLING FOR ALL CLASSES IN MOVIE INFO PAGE */

.movieinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-colour);
}

.movieinfo-container {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
}

.movieinfo-main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movieinfo-secondary {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-poster {
  display: flex;
  max-width: 230px;
  min-width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 2%;
}

.movieinfo-container-poster-style {
  object-fit: cover;
  border-radius: 1%;
  border: 1px solid rgb(114, 114, 114);
}

.movieinfo-container-header {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-header-seperate {
  font-size: .7rem;
  padding-right: 2%;
  padding-top: 2.5%;
  color: var(--main-text-colour);
}

.movieinfo-container-header-ratings {
  display: flex;
  flex-direction: column;
  font-size: .7rem;
  padding-right: 2%;
  padding-top: 2.5%;
  color: var(--main-text-colour);
}

.movieinfo-container-header-seperate--title {
  font-size: 1.5rem;
  color: var(--main-text-colour);
}

.movieinfo-container-header-seperate--title-syn {
  padding-top: 1%;
  font-size: 1.5rem;
  color: var(--main-text-colour);
}

.movieinfo-container-secondary-header {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-actors {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-plot {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-colour);
  width: 100vw;
}

.movieinfo-container-plot-text {
  width: 50%;
  color: var(--main-text-colour);
  font-size: .7em;
}

/* STYLING FOR ALL CLASSES IN NEW MOVIES SECTION OF HOMEPAGE */

.new-movies-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background-colour);
}

.new-movies-container-poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.new-movies-poster-title {
  max-width: 150px;
  min-width: 150px;
  padding: 1%;
  font-size: .7rem;
  color: var(--main-text-colour);
  transition: 250ms;
}

.new-movies-poster-title:hover {
  color: var(--hover-title-colour);
  cursor: pointer;
}

.new-movies-poster-title:hover .rating {
  color: white;
  cursor: pointer;
}

.new-movies-poster {
  border-radius: 3%;
  border: 1px solid rgb(65, 65, 65);
  width: 100%;
  transition: 250ms;
  cursor: pointer;
}

.new-movies-poster:hover {
  border: 4px solid limegreen;
  padding-bottom: 1.5%;
}

.new-movies-title {
  padding-top: 1%;
  font-size: 1.5rem;
  color: var(--main-text-colour);
}

.rating {
  position: absolute;
  background-color: rgb(35, 35, 35, 0.5);
  padding: .3%;
  border-radius: 5px;
}

/* STYLING FOR UPDATED STYLING IN WATCHLIST PAGE */

.watchlist-empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-colour);
  color: var(--main-text-colour);
}

.watchlist-poster-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 190px;
  min-width: 150px;
  padding: 1%;
  font-size: .7rem;
  color: var(--main-text-colour);
  transition: 250ms;
}

.watchlist-poster-title:hover {
color: var(--hover-title-colour);
cursor: pointer;
}

.watchlist-poster-title:hover .rating-anime {
  color: white;
  cursor: pointer;
  }

.watchlist-container-poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: var(--main-background-colour);
}

.watchlist-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.watchlist-info-container-buttons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}


/* STYLING FOR ALL CLASSES IN RANDOM PAGE */
.random-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--main-background-colour);
}

.random-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  color: var(--main-text-colour);
}

.random-main {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
  width: 50%;
  padding-bottom: 5%;
}

.random-poster-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  min-width: 150px;
  padding: 1%;
  font-size: .7rem;
  color: var(--main-text-colour);
}

.random-poster-title:hover {
  color: var(--hover-title-colour);
  cursor: pointer;
}

.random-poster-title:hover .rating-random {
  color: white;
   cursor: pointer;
}

.random-poster {
  border-radius: 3%;
  border: 1px solid rgb(65, 65, 65);
  width: 100%;
  transition: 250ms;
  cursor: pointer;
}

.random-poster:hover {
  border: 4px solid limegreen;
  padding-bottom: 1.5%;
}

.rating-random {
  position: absolute;
  background-color: rgb(35, 35, 35, 0.5);
  padding: .3%;
  margin-left: -204px;
  border-radius: 5px;
}

/* ANIME */

.anime-background-image {
  object-fit: cover;
  object-position: 50% 50%;
  max-height: 39vh;
  min-width: 100%;
  min-height: 300px;
}

.rating-anime {
  position: absolute;
  background-color: rgb(35, 35, 35, 0.5);
  padding: .3%;
  margin-left: -130px;
  border-radius: 5px;
}

.anime-container-more-button {
  display: flex;
  flex-direction:row;
  margin-top: 2%;
}

.anime-container-more-button--padding {
  color: var(--main-text-colour);
  border-radius: 5px;
  padding: 1% 5px 1% 5px;
}

.anime-selected {
  transition: 350ms;
  background-color: rgb(42, 143, 143);
}

.anime-container-more-button--padding:hover {
  transition: 350ms;
  background-color: rgb(55, 176, 176);
}

.anime-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.anime-container-plot {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-colour);
  width: 100vw;
}

.anime-container-plot-text {
  width: 50%;
  color: var(--main-text-colour);
  font-size: .7em;
}

.anime-container-recommend {
  width: 100%;
  color: var(--main-text-colour);
  font-size: .7em;
}

.anime-container-OPED {
  width: 50%;
  color: var(--main-text-colour);
  font-size: .7em;
}

.anime-OPED-title {
  font-size: 1.2em;
}

.anime-OPED-padding {
  padding-top: 20px;
  color: var(--main-text-colour);
}

.anime-trailer {
  padding-top: 20px;
  color: var(--main-text-colour);
  width: 50%;
}

.anime-trailer-dimensions {
  width: 50vw;
  height: 50vh;
}

.anime-hidden {
  visibility: hidden;
  height: 1px;
}

.main-container-center-anime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-colour);
  margin-top: -1.5rem;
}

.anime-search-title {
  color: var(--main-text-colour);
  font-size: 1.1em;
  padding: 1%;
}

.anime-home-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--main-background-colour);
}

.anime-home-container-title {
  display: flex;
  flex-direction: column;
  width: 45%;
}


.anime-home-title {
  color: var(--main-text-colour);
  font-size: 1.5em;
  padding: 1%;
}

@media (max-width: 40rem) {
  .selection-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .selection-movies {
    width: 100vw;
    height: 50vh;
  }
  .selection-movies:hover {
    height: 60vh;
  }
  .selection-anime {
    width: 100vw;
    height: 50vh;
  }
  .selection-anime:hover {
    height: 60vh;
  }
  .selection-movies-poster-overlay {
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
  }
  .selection-movies-poster-overlay:hover {
    opacity: 1;
    width: 100%;
    height: 55%;
    transform: translateY();
  }
  .selection-movies-poster {
    min-width: 100%;
    min-height: 100%;
  }
  .selection-anime-poster-overlay {
    width: 100%;
    height: 50vh;
  }
  .selection-anime-poster-overlay:hover {
    opacity: 1;
    width: 100%;
    height: 55%;
  }
  .selection-anime-poster {
    min-width: 100%;
    min-height: 100%;
  }
  .movieinfo-container-header-seperate--title {
    font-size: .9rem;
    color: var(--main-text-colour);
  }
  .movieinfo-main-header {
    width: 100vw;
  }
  .movieinfo-container {
    width: 90vw;
  }
  .movieinfo-container-plot-text {
    width: 90%;
  }
  .new-movies-container-poster {
    width: 100%;
  }
  .random-main {
    width: 100%;
  }
  .anime-container-plot-text {
    width: 90%;
  }
  .anime-button-container {
    width: 90%;
  }
  .anime-container-OPED {
    width: 90%;
  }
  .anime-trailer {
    width: 100%;
  }
  
  .anime-trailer-dimensions {
    width: 100vw;
    height: 50vh;
  }
  .anime-home-container-title {
    width: 90%;
  }
}

@media (min-width: 40.1rem) {
  .selection-movies:hover {
    width: 60vw;
  }
  .selection-anime:hover {
    width: 60vw;
    transform: translateX(-60px);
  }
}

@media (max-width: 52.5rem) {
  .navbar-container-left {
    padding-right: 40%;
  }
}

/* on screen resolution change, alters navbar elements */
@media (max-width: 41em) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navbar-container-left {
    display: flex;
    flex-direction: row;
    padding-right: 0%;
  }
  .navbar-search-padding {
    display: flex;
    margin-top: -.25rem;
    margin-left: 15%;
    max-width: 220px;
  }
  .navbar-container-right {
    justify-content: flex-start;
    padding-top: .5rem;
    min-width: 50px;
    max-height: 50px;
  }
  .navbar-button-padding {
    visibility: hidden;
  }
  .navbar-hamburger {
    display: flex;
    visibility: visible;
    margin-left: -.85rem;
  }
}

