/* sets background of all pages to dark greyy */

html {
  background-color: rgb(36, 35, 35);
}

/* for main image container + resize if resolution shrinks */
.main-container-center {
  display: flex;
  justify-content: center;
  background-color: rgb(36, 35, 35);
  margin-top: -1.5rem;
}

.main-container-center-watchlist {
  display: flex;
  justify-content: center;
  background-color: rgb(36, 35, 35);
}

/* for results in search, watchlist posters */
.poster-styling {
  display: flex;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  min-height: 20%;
  min-width: 20%;
  border-radius: 2%;
  border: 1px solid rgba(255, 255, 255, 0.75);
}

/* container for search watchlist posters */
.poster-container {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 200px;
  min-height: 100px;
  min-width: 80px;
  min-height: 30px;
  margin: .3em;
  margin-top: 1.5rem;
  filter: drop-shadow(3px 5px 4px rgba( 0,0,0,0.3));
}

/* container overlay for search watchlist posters, includes styling for description, test, buttons */
.poster-container-overlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.25s;
  border-radius: 2%;
}

/* changes hover opacity of all content inside, includes bg, title, desc, buttons on poster  */
.poster-container-overlay:hover {
  opacity: 1;
}

/*  */
.poster-container-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

/*  */
.poster-container-overlay:hover > * {
  transform: translateY(0);
}

/* general styling for poster title */
.poster-container-title {
  display: flex;
  margin: 5%;
  color:white;
}

/* general styling for poster buttons */
.poster-button {
  display: flex;
  margin-left: 2%;
}

/* general styling for poster button containers, margins */
.poster-button-container {
  display: flex;
  justify-content: row;
  margin: 1%;
}

/* container for all search content */
.search-styling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70%;
  min-width: 425px;
}


/* for main background image container, sets min-max values */
.background-container {
  margin-top: -1.5rem;
  max-height: 39vh;
  min-width: 300px;
  min-height: 50px;
}

/* for main background image sets min-max values */
.background-image {
  object-fit: cover;
  object-position: top;
  max-height: 39vh;
  min-width: 100%;
  min-height: 300px;
}

/* for main background title */
.background-description-container {
  position: relative;
  font-size: .7rem;
  line-height: 2;
  padding-left: 1%;
  color: white;
  margin-top: -9.25rem;
  text-shadow: 1px 1px 2px rgba( 0,0,0,0.5);
  max-width: 40%;
  min-width: 310px;
  background-color: rgba( 0,0,0,0.4);
  border-top-right-radius: 3%;
}

.background-title {
  font-size: 1rem;

}

/* for main background desc */
.background-description {
  position: relative;
  font-size: .55rem;
  line-height: 2;
  padding: 0 1rem;
  margin: 0;
  color: white;
  margin-top: -6rem;
  margin-bottom: 3.47rem;
  text-shadow: 1px 1px 2px rgba( 0,0,0,0.5);
  overflow: hidden;
  max-width: 40%;
  min-width: 310px;
  background-color: rgba( 0,0,0,0.4);
}

/* for main background rating */
.background-rating {
  position: relative;
  font-size: .7rem;
  line-height: 2;
  padding: 0 1rem;
  margin: 0;
  color: white;
  margin-top: -3.48rem;
  margin-bottom: 5%;
  text-shadow: 1px 1px 2px rgba( 0,0,0,0.5);
  overflow: hidden;
  max-width: 40%;
  min-width: 310px;
  background-color: rgba( 0,0,0,0.4);
}

/* centers all text content for main background component, doesn't include backaground image */
.background-container-center {
  display: flex;
  justify-content: center;
}

/* title, desc, star rating text shadow */
.inner-shadow {
  box-shadow: 0, 0, 20px, 5px rgba( 0,0,0,0.3);
}

/* for navbar-logo + hover effect */
.navbar-logo {
  max-width: 30%;
  min-width: 200px;
  margin-top: .15rem;
  margin-bottom: .2rem;
}

/* container for all navbar elements inside */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 51%;
  width: 100%;
  background-color: rgb(28, 27, 27);
}

/* container for logo, button elements */
.navbar-container-left {
  display: flex;
  justify-content: flex-start;
  max-width: 10%;
  min-width: 120px;
  padding-right: 150px;
  margin-right: 15%;
}

/* container for search element */
.navbar-container-right {
  display: flex;
  justify-content: center;
  padding-top: .5rem;
  min-width: 50px;
  max-height: 50px;
}

/* padding for logo, button elements */
.navbar-button-padding {
  display: flex;
  padding-top: .3rem;
  margin-left: -1rem;
}

/* padding for search element */
.navbar-search-padding {
  display: flex;
  margin-top: -.25rem;
  max-width: 250px;
  padding-left: 20px;
}

.navbar-hamburger {
  display: flex;
  visibility: hidden;
}

/* on screen resolution change, alters navbar elements */
@media (max-width: 41em) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navbar-container-left {
    display: flex;
    flex-direction: row;
  }
  .navbar-search-padding {
    display: flex;
    margin-top: -.25rem;
    max-width: 250px;
  }
  .navbar-container-right {
    display: flex;
    justify-content: flex-start;
    padding-top: .5rem;
    min-width: 50px;
    max-height: 50px;
  }
  .navbar-button-padding {
    visibility: hidden;
  }
  .navbar-hamburger {
    display: flex;
    visibility: visible;
    margin-left: -.85rem;
  }
}

.selection-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 height: 100vh;
}

.selection-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  transition: 0.35s;
}

.selection-movies-poster {
  object-fit: cover;
  object-position: 50% 50%;
  min-width: 100%;
  min-height: 100vh;
}

.selection-movies-poster-overlay {
  display: flex;
  position: absolute;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  opacity: 0;
  transition: 0.25s;
}

.selection-movies-poster-overlay:hover {
  opacity: 1;
  width: 60.5%;
}

.selection-anime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  transition: 0.35s;
}

.selection-anime-poster {
  object-fit: cover;
  object-position: 50% 50%;
  min-width: 100%;
  min-height: 100vh;
  transition: .25s;
}

.selection-anime-poster-overlay {
  display: flex;
  position: absolute;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  opacity: 0;
  transition: 0.25s;
}

.selection-anime-poster-overlay:hover {
  opacity: 1;
  width: 100%;
}

.movieinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 35, 35);
}

.movieinfo-container {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
}

.movieinfo-main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movieinfo-secondary {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-poster {
  display: flex;
  max-width: 230px;
  min-width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 2%;
}

.movieinfo-container-poster-style {
  object-fit: cover;
}

.movieinfo-container-header {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-header-seperate {
  padding-right: 2%;
  padding-top: 2.5%;
}

.movieinfo-container-header-seperate--title {
  font-size: 1.5rem;
}

.movieinfo-container-secondary-header {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-actors {
  display: flex;
  flex-direction: column;
}

.movieinfo-container-plot {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36, 35, 35);
  width: 100vw;
}

.movieinfo-container-plot-text {
  width: 50%;
}

@media (max-width: 40rem) {
  .selection-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .selection-movies {
    width: 100vw;
    height: 50vh;
  }
  .selection-movies:hover {
    height: 70vh;
  }
  .selection-anime {
    width: 100vw;
    height: 50vh;
  }
  .selection-anime:hover {
    height: 70vh;
  }
  .selection-movies-poster-overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    opacity: 0;
    transition: 0.25s;
  }
  .selection-movies-poster-overlay:hover {
    opacity: 1;
    width: 100%;
    height: 60%;
    transform: translateY();
  }
  .selection-movies-poster {
    min-width: 100%;
    min-height: 100%;
  }
  .selection-anime-poster-overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    opacity: 0;
    transition: 0.25s;
  }
  .selection-anime-poster-overlay:hover {
    opacity: 1;
    width: 100%;
    height: 60%;
  }
  .selection-anime-poster {
    min-width: 100%;
    min-height: 100%;
  }
  .movieinfo-container {
    flex-direction: column;
  }
  .movieinfo-main-header {
    width: 100vw;
  }
  .movieinfo-container {
    width: 100vw;
  }
  .movieinfo-container-plot-text {
    width: 100%;
  }

}

@media (min-width: 40rem) {
  .selection-movies:hover {
    width: 60vw;
  }
  .selection-anime:hover {
    width: 60vw;
    transform: translateX(-60px);
  }
}